global
    log /dev/log local0
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httpclose
    option httplog
    option dontlognull
    timeout connect 1s
    timeout client 5s
    timeout server 5s
    retries 1
    option redispatch

frontend web_frontend
    bind *:8080
    default_backend apps

backend apps
    balance roundrobin
    option httpchk GET /health
    http-check expect string ok
    server app1 192.168.10.112:8000 check inter 200ms fall 1 rise 1
    server app2 192.168.10.114:8000 check inter 200ms fall 1 rise 1
