# clbs service for '106 - CLBS' vm
[Unit]
Description=Proxmox DRS - Dynamic Resource Scheduler
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rsd
WorkingDirectory=/home/rsd/CLBS
EnvironmentFile=/home/rsd/CLBS/.env
ExecStart=/home/rsd/CLBS/.venv/bin/python load_balancing_scheduler.py
Restart=on-failure
RestartSec=15s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
